# Required environment variables
# Copy this file to .env and fill in your values

VITE_APP_NAME="Vendor Bridge"

# Base URL of the backend API
VITE_API_BASE_URL=http://localhost:3000/api/v1

# Base URL of the user service if run separately, or default to backend API URL
VITE_USER_SERVICE_URL=http://localhost:3000/api/v1
